.dockerignore
.gitignore
Makefile
README.md
docs/
docker/nginx/Dockerfile
docker/php-fpm/Dockerfile
docker/redis/Dockerfile
docker/docker-compose.yml
docker/docker-compose.dev.yml
backend/var/cache/prod/*
backend/var/cache/dev
backend/var/log/*
backend/vendor
backend/bin/composer
/backend/public/assets/*
/backend/public/uploads/*
frontend/node_modules
