.dockerignore
.gitignore
Makefile
README.md
LICENSE
.travis.yml
.php_cs.cache
ansible/
docs/
docker/nginx/Dockerfile
docker/php-fpm/Dockerfile
docker/redis/Dockerfile
docker/docker-compose.yml
docker/docker-compose.dev.yml
backend/var/cache/prod/*
backend/var/cache/dev
backend/var/cache/test
backend/var/log/*
backend/vendor
backend/.php_cs.cache
backend/bin/composer
backend/assets
backend/test-coverage
/backend/public/uploads/*
/backend/public/bundles/*
/backend/config/packages/test/jwt_keys/private-test.pem
/backend/config/packages/test/jwt_keys/public-test.pem
frontend/node_modules
