.idea/
.vscode/
backend/vendor
backend/var
/backend/public/bundles/
/backend/public/assets
/backend/public/uploads
/backend/var/
/backend/vendor/
/backend/assets/fixtureimages/*.test
/backend/bin/.phpunit
/backend/.phpunit
backend/test-coverage
/backend/.phpunit.result.cache
*.retry
.php_cs
.php_cs.cache

/frontend/node_modules
/frontend/.pnp
frontend/.pnp.js

/frontend/coverage

# production
/frontend/build

# misc
frontend/.DS_Store

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
