.idea/
.vscode/
src/vendor
src/var
/src/public/bundles/
/src/public/assets
/src/public/uploads
/src/var/
/src/vendor/
/src/bin/.phpunit
/src/.phpunit
/src/.phpunit.result.cache
*.retry
/src/.php_cs
/src/.php_cs.cache
/src/node_modules/
/src/npm-debug.log
/src/yarn-error.log