<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}Developers Planet{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include "@App/shared/header.html.twig" %}
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>