{% extends "@App/base.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <h1>Comment</h1>
            {{ form_start(form) }}
                {{ form_row(form.body) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
