
html, body{
	width: 100%;
	/*background-image: url("../images/backgrounds/panda.png");*/
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}

body{
background-color: #F5F5F5;
}

a{
	color: #20AAE5;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
/**/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1198 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0px;
}


.snip1198 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1198 li {
  display: inline-block;
  list-style: outside none none;
  margin: -0.6em 3px;
  padding: 0;
}
.snip1198 a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1198 a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0;
    bottom: 0;
    /* border-top: 2px solid #27ae60; */
    border-bottom: 2px solid #3f8dc2;
    height: 35px;

}
.snip1198 a:hover,
.snip1198 .current a {
  color: #ffffff;
}
.snip1198 a:hover:before,
.snip1198 .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}/**/
.nav_profile img {
    margin-bottom: -1px;
    height: 28px;
}
.nav_profile{
    width: 30px;
    height: 30px;
    padding-bottom: 0px;
    border-radius: 50%;
    margin: 0px 10px 16px 5px;
}
.nav_profile a{
    bottom: 8px;
    position: relative;
    right: 2px;
}
.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 53px;
    background-color: #242731;
    /* border-bottom: 0.25em solid #ca4d18; */
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
    opacity: 0.93;
}
.top_bar img{
	position: relative;
	bottom:2px;
}
.top_bar nav{
    float: right;
    right: 30px;
    position: absolute;
    margin: 12px -13px 12px 0px;
    margin-top: 12px;
    margin-right: -13px;
    margin-bottom: 12px;
    margin-left: 0px;

}


.top_bar #logo img{
    position: relative;
    height: 38px;
    bottom: 0px;
    top: 5px;
    left: 5px;
}
#logo h1{
    float: right;
    position: relative;
    bottom: 4px;
    color: #ffffff;
    font-size: 18px;
    right: 0px;
    left: 10px;
}

.top_bar nav a{
position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 11px 0px 0px 0px;
    padding-top: 11px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    bottom: 9px;
    font-size: 11px;
    font-weight: 900;
}


.logo img a{
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    position: relative;
    top: 9px;
    font-size: 30px;
    text-shadow: #ffffff 0.5px 0.5px 0px;
    color: #ffffff;
    line-height: 29px;
}

.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.wrapper .column{
	background-color: #fff;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
    color: #555;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 15px;
}

.wrapper .user_details{
    width: 250px;
    float: left;
    margin-bottom: 20px;
    margin-top: 12px;

   
}

.wrapper .user_details:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.wrapper .user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.wrapper .user_details .user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
}

.wrapper .main_column{
    float: right;
    width: 73%;
    z-index: -1;
    min-height: 170px;
    margin-top: 12px;}


.post_form{
	width: 100%;
}



/*.post_form textarea:hover{
    width: 81%;
    height: 80px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
    position: relative;
    bottom: 5px;

}*/
.expand{
    height: 2em;
    position: relative;
    padding: 14px 0px 40px 8px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}



textarea:focus{
	outline: 0;
}

.post_form input[type="submit"]{
    width: 15%;
    height: 35px;
    border: none;
    border-radius: 9px;
    background-color: #3498db;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 117%;
    position: relative;
    outline: 0;
    margin: 3px 4px 36px 4px;
    top: 15px;
    right: 0px;
    left: 80%;

}

.post_form input[type="submit"]:active{
	padding: 5px 4px 4px 5px;
}

.status_post{
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor: pointer;
}

.post_profile_pic{
	float: left;
	margin-right:7px;
}

.post_profile_pic img{
	border-radius: 5px;
}

#comment_iframe{
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

.comment_section{
	padding: 0 5px 5px 5px;
    font-size: 12px;

}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

.comment_section hr{
	width: 97%;
	margin-left: 0px;
}

#comment_form textarea{
    border-color: #D3D3D3;
    width: 83%;
    border-radius: 5px;
    height: 35px;
    color: #616060;
    font-size: 15px;
    margin: 3px 3px 3px 5px;
    padding: 10px 5px 0px 5px;
}

#comment_form input[type='submit']{
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
    width: 12%;
    height: 35px;
    margin-top: 3px;
    /* position: absolute; */
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: none;
    bottom: 21px;
    position: relative;
}

.newsfeedPostOptions{
	padding: 0px;
	text-decoration: none;
	color: #20AAE5;
	border: none;
}

.newsfeedPostOptions iframe{
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like{
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
}

.comment_like:focus{
	outline: none;
}

.like_value{
	display: inline;
	font-size: 14px;
}

.profile_left{
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #242731;
    /* border-right: 4px solid #cc670b; */
    color: #CBEAF8;
    margin-right: 20px;
    box-shadow: 0 4px 34px 0 rgba(0,0,0,0.2);
}

.profile_left img{
    min-width: 80px;
    width: 55%;
    margin: 20px;
    border: 5px solid #463737;
    border-radius: 100px;
    margin-left: 45px;
}

.profile_info{
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger{
	background-color: #e74c3c;
}

.warning {
	background-color: #f0ad4e;
}

.default{
	background-color: #bdc3c7;
}

.success{
	background-color: #2ecc71;
}

.info{
	background-color: #3498db;
}

.deep_blue{
	background-color: #0043f0;
}

.profile_left input[type="submit"]{
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

#accept_button{
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}

#ignore_button{
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button{
height: 22px;
    width: 22px;
    padding: 0;
    float: right;
    border-radius: 4px;
    right: -15px;
    position: relative;
    line-height: 1px;
    border: none;
}

.profile_main_column{
    min-width: 777px;
    float: left;
    width: 70px;
    z-index: -1;
}

.profile_info_bottom{
	margin: 10px 0 0 7px;
}

#message_textarea{
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	height: 50px;
}

#message_submit{
    height: 50px;
    width: 120px;
    margin: 0;
    background-color: #448fc2;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    /* text-shadow: #73B6E2 0.5px 0.5px 0px; */
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.message{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff
}

.message_post form{
	margin-bottom: 3px;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}

.message#green{
	background-color: #2ecc77;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages{
    height: 50%;
    min-height: 170px;
    max-height: 430px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.loaded_conversations{
	max-height: 216px;
	overflow: auto;
}

.user_found_messages{
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover{
	background-color: #D3D3D3;
}

.loaded_conversations a .user_found_messages img{
	height: 35px;
	float: left;
}

#grey{
	color: #8C8C8C;
}

.resultDisplay{
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a{
	float: none;
}

.resultDisplay:hover{
	background-color: #EBEBEB;
	text-decoration: none;
}

.liveSearchProfilePic img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText{
	background-color: transparent;
	color: #1E96CA;	
}

.liveSearchText p{
	margin-left:10px;
	font-size: 12px;
}

.tab-content{
	margin-top: 25px;
}

.dropdown_data_window{
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 0px;
    top: 40px;
    overflow-y: auto;
    height: 280px;
    border: 1px solid rgb(218, 218, 218);
    padding: 0px;
    margin-right: 19em;
    border-radius: 3px 3px 10px 10px;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.2);
    /* transition: 0.1s;*/
}
.dropdown_data_window:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.notification_badge{
	padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #D11124;
    border-radius: 10px;
    position: absolute;
    left: 6px;
    top: -2px;
}

.resultDisplayNotification{
	height: auto;
	color: #1485BD;
	padding-bottom: 7px;
}

.resultDisplayNotification img{
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.timestamp_smaller{
	font-size: 85%;
	margin: 0;
}

.search{
    float: right;
    padding-left: 26px;
    padding-top: 10px;
}

.search #search_text_input{
    border: thin solid #E5E5E5;
    float: left;
    height: 30px;
    outline: 0;
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 7px;
    padding-left: 12px;
}

.button_holder{
    background-color: #F1F1F1;
    border: thin solid #e5e5e5;
    cursor: pointer;
    float: left;
    height: 30px;
    width: 64px;
    text-align: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.button_holder img{
    margin-top: 3px;
    width: 23px;
}

.search_results{
	background-color: #fff;
	border: 1px solid #DADADA;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
}

.search_results_footer{
	padding: 3px 4px 4px 4px;
	height: 30px;
	border: 1px solid #DADADA;
	border-top: none;
	background-color: #20AAE5;
	text-align: center;
}

.search_results_footer a{
	color: #fff;
}

.search_result{
	padding: 10px;
	height: 100px;
}

.searchPageFriendButtons{
	float: right;
}

.searchPageFriendButtons input[type="submit"]{
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.result_profile_pic{
	float: left;
	margin-right: 10px;
}

.search_result_hr{
	margin-bottom: 0px;
}

#small_profile_pic{
    margin: 1px 12px 0 2px;
    float: left;
    height: 80px;
}

.settings_input{
	border: 1px solid #ccc;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px
}

.settings_submit{
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.postedImage img{
	max-height: 300px;
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

#fileToUpload{
    margin-top: 0px;
    font-size: 13px;
    position: relative;
    bottom: 48px;
}

.post_form hr{
	margin-top: 13px;
}

.banner{
	    height: 90px;
    width: 667px;
}

.trending{
    padding: 1px 0px 1px 5px;
    background-color: #3498DB;
    color: white;
    border-radius: 5px;
    margin: -10px -10px 5px -10px;
}