<div class="top_bar">
    <div id="logo">
        <a href="{{ path('index.index') }}">
            <img src="{{ asset('/assets/images/backgrounds/logo.png') }}"><h1>&ltdevelopersPlanet/&gt</h1></a>
    </div>
    <div class="search">
        <div class='search_results'></div>
        <div class='search_results_footer_empty'></div>
    </div>
</div>