{% extends "@App/bundles/FOSUserBundle/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                <div class="alert alert-warning" id="login-error" style="display: none">
                    Unknown login details, please try again
                </div>
                <div class="form-group">
                    Username
                    <input class="form-control" type="text" name="_username" id="login-username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    Password
                    <input class="form-control" type="password" name="_password" id="login-password" required="required" />
                </div>
                <button class="btn btn-primary" id="login-button">Login</button>
            </form>
        </div>
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}