# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @survivorbat and @ishank-dev will be requested for
# review when someone opens a pull request.
*       @survivorbat @ishank-dev
