{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": null,
    "block-opening-brace-newline-after": ["always"],
    "block-closing-brace-newline-before": ["always"],
    "no-descending-specificity": null,
    "max-empty-lines": null
  }
}
