{% extends "@App/base.html.twig" %}

{% block container %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>This is a test index page!</h1>
    <p>
        <a href="{{ path('posts.index') }}">Want to see all the posts?</a>
    </p>
{% endblock %}